!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title Welcome
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/bubblet.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/application.js' }
  %body
    = yield
